body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #af4c4c;
    border-color: #af4c4c;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}